.card.form-parent {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

form.card-body {
  text-align: right;
}

form.card-body .card-title {
  text-align: center;
}

form.card-body .my-field-wrapper {
  text-align: left;
}

form.card-body label.form-label {
  font-weight: 600;
}
